body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #474747;
    color: #414141;
    text-align: center;
    padding: 1rem;
}

footer {
    background-color: #333;
    color: #ffffff25;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.container {
    display: flex;
    padding: 1rem;
}

.coluna {
    padding: 1rem;
    box-sizing: border-box;
}

.esquerda {
    flex: 1;
    background-color: #363535;
}

.centro {
    flex: 2;
    background-color: #242323;
}

.direita {
    flex: 1;
    background-color: #181818;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .coluna {
        flex: none;
        width: 100%;
    }
}

body {
    color: white;
    background: black;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(255, 255, 255);
    padding: 20px;
    font-size: 32px;
    color: rgb(255, 242, 0);
}

.chamada {
    background: rgb(48, 48, 48);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid green;
}

.categoria h2 {
    color: rgb(42, 122, 228);
}